.organization-form-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.organization-form {
	display: flex;
	flex-direction: column;
}

.organization-form input, .organization-form textarea{
	outline: none;
}

.organization-form input:hover, .organization-form textarea:hover{
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-group {
	margin-bottom: 10px;
}

.form-group label {
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.submit-button {
	background-color: var(--green-2);
	color: white;
	width: 40%;
	border: 1px solid;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20px;
	transition: background-color 0.3s ease;
	margin: auto;
}

.submit-button:hover {
	outline: none;
	border: 1px solid transparent;
	box-shadow: rgba(0, 75, 0, 0.741) 0px 1px 2px;
	font-weight: 500;
}

.error-message {
	color: red;
}

.toaster {
	background-color: var(--light-active-green);
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	margin-top: 20px;
  }
