.about-us-section {
    background-color: var(--green-2);
    width: 100%;
    min-height: 500px;
}

.about-us-title {
    color: var(--darker-green);
    font-size:3rem;
}

.about-us-subtitle {
    color: var(--darker-green);
    font-size:3rem;
}

.about-us-text {
    color: var(--darker-green);
    font-size:1rem;
}

.about-us-call-to-action {
    color: var(--white);
    background-color: var(--darker-green);
}