.hero-section {
	display: flex;
	flex-direction: column;
	min-height: 800px;
}

.hero-image {
	z-index: -1;
	object-fit: cover;
	min-height: 800px;
}

.hero-title {
	color: var(--green-2);
	font-size: 4rem;
	width: 70%;
	font-weight: bolder;
	margin-left: 10rem;
	margin-top: 70px;
}

@media (max-width: 600px) {
	.hero-title {
		font-size: 2rem;
		width: 80%;
		margin-left: 1rem;
	}
}

