.footer {
	background-color: var(--green-2);
	padding: 1rem;
	width: 100%;
	bottom: 0;
	padding: 25px;
    display: flex;
    justify-content: center;
    color: var(--white);
    text-align: center;
}
