#organizations {
	margin-bottom: 50px;
}

.organizations-main-title {
	color: var(--green-2);
	display: flex;
	text-align: center;
	font-size: 34px;
	font-weight: 500;
	margin-top: 60px;
}

.organizations-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	max-width: 1100px;
}

.organization-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 90px;
	background-color: #f4f4f4;
	color: #000;
	width: 250px;
	height: 365px;
	margin: 30px;
	padding: 20px;
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.13) 0px 3px 7px -3px;
}

.organizations-logo {
	width: 100px;
	height: auto;
	margin-bottom: 20px;
}

.image-container {
	min-height: 100px;
	transition: transform 1.5s ease-in-out;
}

.image-container:hover {
	transform: rotateY(360deg);
}

.organization-title {
	font-weight: bold;
}

.organization-description {
	margin-top: 0.5rem;
	text-align: center;
}

.organization-link {
	margin-top: 0.5rem;
	text-decoration: none;
	font-weight: bold;
}
.organization-link:hover {
	color: var(--green-2);
}

@media (max-width: 992px) {
	.organizations-main-title {
		padding-bottom: 0;
		font-size: 29px;
	}
	.organizations-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

@media (max-width: 768px) {
	.organizations-main-title {
		font-size: 24px;
	}
}

@media (max-width: 450px) {
	.organizations-main-title {
		font-size: 24px;
		margin-bottom: 0;
		margin-top: 60px;
	}
}
