@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: #000;
	--white: #fff;
	--green-1: #009669;
    --green-2: #33AB88;
	--darker-green: #093F12;
}

.page-title {
	color: var(--black);
	font-weight: bold;
	font-size: 2rem;
	margin-top: 5rem;
	text-align: center;
}