@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: #000;
	--white: #fff;
	--light-green: #e8f8eb;
	--light-hover-green: #ddf4e0;
	--light-active-green: #b8e8c0;
	--normal-green: #1ab433;
	--green-1: #009669;
	--green-2: #33ab88;
	--dark-green: #148726;
	--darker-green: #093f12;
}

.page-title {
	color: var(--black);
	font-weight: bold;
	font-size: 2rem;
	margin-top: 5rem;
	text-align: center;
}
