.navbar {
  background-color: #EADD98;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar a {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}

.page-title {
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 5rem;
  text-align: center;
}