.cargar-ong-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cargar-ong-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #333;
  }
  
  .contact-info {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    text-align: center;
  }
  